html {
  height: 100%;
  max-width: none;
  /* font-family: 'Noto Serif', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif; */
  font-family: "Source Sans 3", sans-serif;
}

body {
  /* background-size: contain;
  background-image: linear-gradient(to right bottom, #002a5e, #005486, #007c8a, #00a06e, #88bc47); */
  background: rgb(0, 84, 134);
  background-image: linear-gradient(
    to bottom,
    #002b60,
    #00367c,
    #004199,
    #004bb6,
    #0056d4,
    #0056d4,
    #0056d4,
    #0056d4,
    #004bb6,
    #004199,
    #00367c,
    #002b60
  );
  max-width: none;
  /* padding-left: 24px; */
  /* display: grid;
   grid-template-rows: auto 1fr auto; */
  /* grid-template-columns: 1fr 6fr; */
  height: 100vh;
  min-height: 100%;
}
